<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.hermit.formula" android:versionCode="1"
	android:versionName="1.0.0">

	<application android:icon="@drawable/formula"
			android:label="@string/app_name"
			android:description="@string/description"
			android:debuggable="true">
			
		<provider
				android:name=".provider.FormulaProvider"
				android:authorities="org.hermit.provider.Formula">
		</provider>

		<activity android:name=".FormulaRunner" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.org.hermit.formula" />
			</intent-filter>
		</activity>

		<activity android:name="FormulaList" android:label="@string/list_title">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.org.hermit.formula" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.GET_CONTENT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.org.hermit.formula" />
			</intent-filter>
		</activity>

		<activity android:name="FormulaEditor"
				android:theme="@android:style/Theme.Light"
				android:label="@string/editor_title_edit"
				android:screenOrientation="sensor"
				android:configChanges="keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.org.hermit.formula" />
			</intent-filter>

			<!-- This filter says that we can create a new formula in a
				 directory of formulae. -->
			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.org.hermit.formula" />
			</intent-filter>
		</activity>

		<activity android:name=".Preferences" android:label="@string/prefs_title"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

	</application>

	<uses-sdk android:minSdkVersion="3"></uses-sdk>
</manifest>

