<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.hermit.substrate" android:versionName="1.2" android:versionCode="3">

	<application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">

		<activity android:icon="@drawable/icon"
				android:label="@string/app_name"
				android:name="EyeCandyApp" android:screenOrientation="portrait" android:launchMode="singleTop" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".Help" android:launchMode="singleTop" android:configChanges="mcc|mnc|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout" android:label="@string/help_title">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
			</intent-filter>
		</activity>

		<service android:label="@string/substrate_title"
				android:name=".hacks.SubstrateWallpaper"
				android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
				<action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data android:name="android.service.wallpaper"
				android:resource="@xml/substrate" />
		</service>

        <activity
            android:label="@string/substrate_prefs_title"
            android:name=".hacks.SubstratePreferences"
            android:exported="true">
        </activity>

		<service android:label="@string/interaggregate_title"
				android:name=".hacks.InteraggregateWallpaper"
				android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
				<action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data android:name="android.service.wallpaper"
				android:resource="@xml/interaggregate" />
		</service>

        <activity
            android:label="@string/interaggregate_prefs_title"
            android:name=".hacks.InteraggregatePreferences"
            android:exported="true">
        </activity>

		<service android:label="@string/sandtrav_title"
				android:name=".hacks.SandTravellerWallpaper"
				android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
				<action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data android:name="android.service.wallpaper"
				android:resource="@xml/sandtrav" />
		</service>

        <activity
            android:label="@string/sandtrav_prefs_title"
            android:name=".hacks.SandTravellerPreferences"
            android:exported="true">
        </activity>

		<service android:label="@string/guts_title"
				android:name=".hacks.GutsWallpaper"
				android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
				<action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data android:name="android.service.wallpaper"
				android:resource="@xml/guts" />
		</service>

        <activity
            android:label="@string/guts_prefs_title"
            android:name=".hacks.GutsPreferences"
            android:exported="true">
        </activity>

		<service android:label="@string/happy_title"
				android:name=".hacks.HappyPlaceWallpaper"
				android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
				<action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data android:name="android.service.wallpaper"
				android:resource="@xml/happy" />
		</service>

        <activity
            android:label="@string/happy_prefs_title"
            android:name=".hacks.HappyPlacePreferences"
            android:exported="true">
        </activity>

		<service android:label="@string/nodes_title"
				android:name=".hacks.NodeGardenWallpaper"
				android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
				<action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data android:name="android.service.wallpaper"
				android:resource="@xml/nodes" />
		</service>

        <activity
            android:label="@string/nodes_prefs_title"
            android:name=".hacks.NodeGardenPreferences"
            android:exported="true">
        </activity>

		<service android:label="@string/dollar_title"
				android:name=".hacks.SandDollarWallpaper"
				android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
				<action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data android:name="android.service.wallpaper"
				android:resource="@xml/dollar" />
		</service>

        <activity
            android:label="@string/dollar_prefs_title"
            android:name=".hacks.SandDollarPreferences"
            android:exported="true">
        </activity>

	</application>

	<uses-sdk android:minSdkVersion="7" />
	<supports-screens android:resizeable="true" android:smallScreens="true" android:largeScreens="true" android:normalScreens="true" android:anyDensity="true"></supports-screens>
	
</manifest>

