<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.hermit.onwatch" android:versionName="1.0"
	android:versionCode="1">
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	
	<application android:label="@string/app_name"
            android:icon="@drawable/android"
            android:description="@string/description"
            android:debuggable="true">
		
		<!-- <meta-data android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIt9wx5APc50aPUDW8nro-WB04nhpMGyu2ydLzGQ" /> -->

        <provider android:name=".provider.VesselProvider"
            android:authorities="org.hermit.provider.VesselData" />

        <provider android:name=".provider.WeatherProvider"
            android:authorities="org.hermit.provider.WeatherData" />

        <service android:name=".service.OnWatchService" android:enabled="true" android:exported="false"/>

		<activity android:name=".OnWatch" android:label="@string/app_name"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:launchMode="singleTop" android:name="CrewEditor"
			android:label="@string/crew_edit_title">
		</activity>

		<activity android:name="org.hermit.android.widgets.TimeZoneActivity"
			android:label="@string/title_timezone" android:launchMode="singleTop">
		</activity>

		<activity android:name="org.hermit.android.core.SplashActivity">
		</activity>

		<activity android:name=".Preferences"
				  android:label="@string/prefs_title"
				  android:configChanges="mcc|mnc|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout"
				  android:launchMode="singleTop">
		</activity>

		<activity android:name=".Help"
				  android:launchMode="singleTop"
				  android:configChanges="mcc|mnc|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout"
				  android:label="@string/help_title">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
			</intent-filter>
		</activity>

	</application>
	
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
	<uses-permission android:name="android.permission.SET_TIME_ZONE"/>
	
	<uses-sdk android:minSdkVersion="11"/>

    <supports-screens
            android:smallScreens="false"
            android:resizeable="true"
            android:normalScreens="true"
            android:anyDensity="true" android:largeScreens="true" android:xlargeScreens="true"/>
            
</manifest> 

