<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.hermit.dazzle"
      android:versionCode="1"
      android:versionName="1.0">
      
    <application android:icon="@drawable/icon" android:label="@string/app_name">

        <activity android:name="DazzleControl"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="DazzleProvider">
            <meta-data android:name="android.appwidget.provider"
                    android:resource="@xml/dazzle_meta" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

    </application>
    
    <uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />

</manifest>

