<?xml version="1.0" encoding="utf-8"?>
<!-- 
 * Copyright (C) 2007 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.hermit.tiltlander" android:installLocation="auto" android:versionName="2.1" android:versionCode="6">
	
	<application android:icon="@drawable/app_lunar_lander"
		android:label="@string/app_name" android:description="@string/app_desc"
		android:debuggable="false">

		<activity android:name="LunarLander" android:launchMode="standard">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".Preferences" android:label="@string/prefs_title">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<activity android:name=".Help" android:launchMode="singleTop"
			android:configChanges="mcc|mnc|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout"
			android:label="@string/help_title">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

	</application>
	
	<uses-sdk android:minSdkVersion="3" />
	<supports-screens android:anyDensity="true"
		android:smallScreens="true" android:resizeable="true"
		android:normalScreens="true" android:largeScreens="false" />

</manifest>
